#a-login {
    padding: 0px;
    padding-top:5px;
    /*top: 100px;*/ 
}

form.login-menu input {
    background:gray;
    display: none;
    /*padding:0% 10%;*/ 
    width: 100%;
    color:white;
    font-size:20px;
    /*top: 100px;*/ 
}

#a-login:hover .login-menu input {
    color: gray;
    display: block;          
}

#loginbutton a {
    padding: 0px !important; 
    padding-top:5px !important; 
    border: none;
}

@media only screen and (max-width: 1000px) {
    #a-login {
        float: left;
        padding: 0px;
        margin: 0px;
    }
    #a-login button {
        padding: 0px;
        margin: 0px;
        border: none;
        float: left;
    }

    form.login-menu input {
        background: none;
        display: none;
        padding: 0px; 
        margin: 0px; 
        border: none;
        color: red;
        font-size:20px;
        text-align: left;
        margin-left: 50px;
    }

    #loginbutton {
        padding: 0px ; 
        margin: 0px ;
        padding-top: 0px !important; 
        /*border: none;*/
    }

    #loginbutton button {
        padding-top: 0px !important; 
        background: powderblue; 
        /*border: 2px solid white;*/
        color: #EF3159 !important; 
    }
    
}